footer {
    text-transform: uppercase;
    background-color: #f3f3f3;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

#buttonF, .plusF {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buttonF {
    background-color: #4c4f56;
    border-radius: 27px;
    height: 34px;
}

#footer-haut * {
    background-color: #2b2e30;
}
#footer-haut nav{
    height: 45px;
}

.plusF {
    height: 40px;
    width: 40px;
}

#footer-bas {
    background-color: #3e4249;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer hr {
    width: 60px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 10px;
}


footer a:link, footer a:visited {
    font-size: .75rem;
    color: #eee;
}
footer a:hover{
    text-decoration: underline;
}

footer a:hover, footer a:active {
    color: white;
}