#user {
  font-size: 15px;
}

#BG {
  /*background: url(https://www.pole-emploi.fr/accueil/image/mmlelement/pj/ea/92/4e/a1/home-cover-48856.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  width: 100%;
  height: auto;
}
#headline{
  color: white;
}

/* Container holding the image and the text */

.container-fluid {
  padding-right: 0px!important;
  padding-left: 0px!important;
  position: relative;
  text-align: center;
}

/* Bottom left text */

.bottom-left {
  position: absolute;
  bottom: 8px;
  top: 530px;
  left: 16px;
}

/* Top left text */

.top-left {
  position: absolute;
  top: 60px;
  left: 2px;
}

/* Top right text */

.top-right {
  position: absolute;
  top: 30px;
  right: 16px;
}

/* Bottom right text */

.bottom-right {
  position: absolute;
  bottom: 8px;
  top: 530px;
  right: 16px;
}

/* Centered text */

.centered {
  position: absolute;
  top: 200px;
  left: 45%;
  /* margin-left: 20%; */
  right: 0%;
  transform: translate(-50%, -50%);
}

/* 
  #h1{
      font-family: "Roboto",Helvetica,Arial,sans-serif;
      font-size: 2.375rem;
      font-weight: 400;
  } */

#box-test {
  font-size: 13px;
  padding-right: 6%;
  border: 0px;
  padding-left: 6%;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
  width: 265px;
  background: #f1f1f1;
}

#search {
  background-color: rgb(250, 87, 11);
  float: left;
  width: 50px;
  padding: 10px;
  color: white;
  font-size: 20px;
  border-left: none;
  border-top: none;
  /* Prevent double borders */
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

#check-box {
  margin-left: auto;
  margin-right: auto;
}