body{
    margin: 0;
    padding: 0;
    background-color: #e5e9ec;
}

.imgMiddle img{
    width: 350px;
    height: 400px;
}

.middleThingy{
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(29, 29, 29);
}

.bonsoir{
    padding-left: 100px;
}